@import "tailwindcss";

@theme {
  --color-gray-850: #1f2937;
  --color-gray-900: #111827;
  --color-gray-950: #030712;
  
  --animate-pulse-fast: pulse 1s cubic-bezier(0.4, 0, 0.6, 1) infinite;
}

body {
  font-family: 'Inter', sans-serif;
  @apply bg-white text-gray-900 dark:bg-gray-950 dark:text-white transition-colors duration-200;
}

/* Custom scrollbar */
::-webkit-scrollbar {
  width: 8px;
}
::-webkit-scrollbar-track {
  @apply bg-gray-100 dark:bg-gray-900;
}
::-webkit-scrollbar-thumb {
  @apply bg-gray-300 dark:bg-gray-700 rounded-full;
}
::-webkit-scrollbar-thumb:hover {
  @apply bg-gray-400 dark:bg-gray-600;
}
